server:
  port: 8083
spring:
  application:
    name: postservice
  datasource:
    url: jdbc:h2:file:./data/blog-post
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console